/*-- scss:defaults --*/
$headings-font-weight:  500 !default;
$font-size-root: 1rem;

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    font-weight: bold !important;
}

#title-block-header.quarto-title-block.default .keywords .block-title, #title-block-header.quarto-title-block.default .description .block-title, #title-block-header.quarto-title-block.default .abstract .block-title {
    font-weight: bold !important;
}

@media (min-width: 992px) {
    body:not(.floating):not(.docked) .page-columns.toc-left {
        display: grid;
        gap: 0;
        grid-template-columns: 
            [screen-start] 15em 
            [screen-start-inset] 5fr 
            [page-start] 35px 
            [page-start-inset] minmax(0px, 175px) 
            [body-start-outset] 35px 
            [body-start] 1.5em 
            [body-content-start] minmax(450px, calc(800px - 3em)) 
            [body-content-end] 1.5em 
            [body-end] 50px 
            [body-end-outset] minmax(0px, 200px) 
            [page-end-inset] 50px 
            [page-end] 5fr 
            [screen-end-inset] 1.5em 
            [screen-end];
    }
}


