/*-- scss:defaults --*/
$headings-font-weight:  500 !default;
$font-size-root: 1rem;

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    font-weight: bold !important;
}

#title-block-header.quarto-title-block.default .keywords .block-title, #title-block-header.quarto-title-block.default .description .block-title, #title-block-header.quarto-title-block.default .abstract .block-title {
    font-weight: bold !important;
}

